.content {
    position: fixed;
    background: #efefef;
    width: 984px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1%;
    top: 1%;
}

@media only screen and (max-width: 984px) {
    .content {
        width: 96.34%; /* = 948px */
        left: 1.83%; /* = 18px */
        transform: none;
    }
}

.logo {
    display: flex;
    position: absolute;
    width: 167px;
    height: 130px;
    background-image: url("img/Shape 16.png");
    background-size: 100% 100%;
    right: 5%;
}

.logo > img {
    margin: auto;
}
